@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&family=Noto+Sans+KR:wght@400;700&family=Poppins:wght@400;600&display=swap");

body {
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}

.js-date,
.js-clock,
.form,
.greetings,
.js-toDoForm,
.container-weather {
  text-align: center;
  text-shadow: 1px 1px 5px black;
}

.js-date {
  font-size: 60px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 0px;
}
.js-clock {
  font-size: 80px;
  font-weight: 700;
}

.container-weather {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.js-weather {
  margin-right: 10px;
}

.form,
.greetings {
  display: none;
}

.form__empty,
.todoform__empty,
.js-toDoForm {
  font-size: 23px;
}
.greetings {
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 5px;
}
li {
  font-size: 27px;
  font-weight: 700;
}

.form__empty,
.todoform__empty {
  padding: 5px 50px 5px 50px;
  margin: 10px;
  border-radius: 15px;
  border: none;
}

input:focus {
  outline: none;
}
input::placeholder {
  text-align: center;
}
.container-todolist {
  display: flex;
  justify-content: center;
}

#js-pending,
#js-finished {
  width: 400px;
  text-shadow: 1px 1px 5px black;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  text-shadow: 1px 1px 5px black;
}
.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  opacity: 0.7;
}
